@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-reg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
html {
  font: normal 16px / 20px "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #fdfdfd;
}

/**
 * UIkit containers
 */
.uk-container {
  max-width: 1280px;
}
@media (min-width: 1220px) {
  .uk-container {
    max-width: 1440px;
  }
}

/**
 * Navbar
 */
.uk-navbar {
  background: #3dc0f1;
}
.uk-navbar #logo-large img,
.uk-navbar #logo-small img {
  height: 28px;
}
.uk-navbar .uk-navbar-toggle {
  color: #fff;
}
.uk-navbar-nav > li > a {
  color: #fff;
  text-shadow: none;
}
.uk-navbar-nav > li.uk-active > a {
  background-color: #15afea;
  color: #fff;
}
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li.uk-active > a:focus,
.uk-navbar-nav > li.uk-active > a:hover,
#autocomplete ul > li:focus,
#autocomplete ul > li:hover {
  background-color: #04a1dd;
  color: #fff;
}
.uk-navbar-brand,
.uk-navbar-brand:focus,
.uk-navbar-brand:hover {
  color: #fff;
  text-shadow: none;
}
.uk-navbar-brand span {
  line-height: 2.4em;
}

/**
 * Alerts
 */
.uk-alert ul > li {
  list-style: none;
}
.uk-alert > :not(.uk-alert-close):not(.uk-hidden) {
  margin-right: 30px;
}

/**
 * Form elements
 */
.uk-form .form-type-textfield + button {
  margin: 15px 0;
}
html.js input.form-autocomplete {
  background-image: none;
}
#api-search-form button {
  margin-top: 0.5em;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.8em;
}
td.views-field-title {
  white-space: nowrap;
}
.uk-form-help-block {
  font-size: 14px;
}

/**
 * Resizable textarea
 */
.resizable-textarea textarea {
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.resizable-textarea .docs-grippie {
  background: #fafafa;
  border: 1px solid #ddd;
  border-top-width: 0;
  color: #aaa;
  cursor: s-resize;
}
.resizable-textarea .docs-grippie i {
  -webkit-transform: scale(2.5, 1);
  -moz-transform: scale(2.5, 1);
  -ms-transform: scale(2.5, 1);
  -o-transform: scale(2.5, 1);
  transform: scale(2.5, 1);
}
.text-format-wrapper .filter-wrapper {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

/**
 * cTools
 */
html.js .ctools-collapsible-container .ctools-collapsible-handle {
  display: inline-block;
}
.ctools-collapsible-container {
  margin-top: 5px;
}
.ctools-collapsible-container > i {
  cursor: pointer;
  width: 18px;
}
.ctools-collapsible-content > * {
  margin-top: 10px;
}
.ctools-collapsed .ctools-collapsible-content {
  display: none;
}
.ctools-collapsible-content {
  clear: both;
}
.ctools-collapsible-content dl {
  margin-left: 1.5em;
}
.ctools-collapsible-content dt {
  margin-top: 0.625em;
}
.ctools-collapsible-content dt small {
  font-size: 0.923em;
}
.ctools-collapsible-content dd {
  padding-left: 0.625em;
}

/**
 * Block styles
 */
.block-api .uk-nav > li > a > .uk-badge {
  font-size: 13px;
  margin: 2px 0;
}
.block-api .uk-nav > li.uk-active > a > .uk-badge {
  background: #fff;
  color: #00a8e6;
}

/**
 * API overrides
 */
.docs-link-anchor [class*='uk-icon-'] {
  color: #333;
  opacity: 0;
  -webkit-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: color 300ms ease-in-out, opacity 300ms ease-in-out;
}
.docs-link-anchor:focus [class*='uk-icon-'],
.docs-link-anchor:hover [class*='uk-icon-'] {
  opacity: 0.5;
}
.docs-article-subtitle {
  padding-left: 6px;
  border-left: 3px solid #1fa2d6;
  font-size: 16px;
  line-height: 16px;
}
#api-function-signature tr.active td.branch {
  display: inline-block;
  margin-left: -2px;
  padding-left: 0;
  text-align: left;
}
#docs-api-file {
  margin-top: 15px;
}
#docs-api-objects > h3 {
  margin-bottom: 0;
}
.api-documentation > p:first-of-type {
  margin-top: 0;
}
.docs-api-title {
  font-size: 26px;
  line-height: 23px;
}
#api-alternatives > li > .active {
  color: #444;
}
#api-function-signatures table td {
  padding: 0;
}
#api-function-signatures code {
  background: transparent;
  border: 0;
  padding: 0;
}
#api-function-signatures code.uk-text-muted a {
  color: #999!important;
}

/**
 * Site styles
 */
#page-navbar .uk-navbar-nav:first-of-type > .uk-nav-header {
  display: none !important;
}
#logo-large {
  padding: 0;
}
#footer {
  background: #04a1dd;
  padding: 50px 25px;
}
#footer,
#footer a {
  color: #eee !important;
}
@media (max-width: 767px) {
  #sidebar-second .region-wrapper {
    border: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  #footer {
    padding: 90px 0;
  }
}
@media (min-width: 1220px) {
  #footer {
    padding: 120px 0;
  }
}
.uk-article-title .uk-badge {
  font-size: 18px;
  line-height: 24px;
}
del.uk-text-danger,
del.uk-text-danger a {
  color: #d85030;
}