{#
/**
 * @file
 * Theme override for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 * @see uikit_preprocess_menu_local_action()
 *
 * @ingroup uikit_themeable
 */
#}
{% set title %}
  <i class="uk-icon-plus"></i> {{ link.title }}
{% endset %}
<li{{ attributes }}>
  <a href="{{ link.url }}" class="uk-button uk-button-primary">{{ title }}</a>
</li>
