/**
 * @file
 * Macro arrangement of a web page, including any grid systems.
 */
@media (min-width: 480px) and (max-width: 767px) {
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-small-1-1>li:nth-child(n+2)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-small-1-2>li:nth-child(n+3)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-small-1-3>li:nth-child(n+4)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-small-1-4>li:nth-child(n+5)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-small-1-5>li:nth-child(n+6)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-small-1-6>li:nth-child(n+7)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-small-1-10>li:nth-child(n+11)>* {
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding-top: 25px;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-medium-1-1>li:nth-child(n+2)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-medium-1-2>li:nth-child(n+3)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-medium-1-3>li:nth-child(n+4)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-medium-1-4>li:nth-child(n+5)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-medium-1-5>li:nth-child(n+6)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-medium-1-6>li:nth-child(n+7)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-medium-1-10>li:nth-child(n+11)>* {
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding-top: 25px;
  }
}

@media (min-width: 960px) and (max-width: 1219px) {
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-large-1-1>li:nth-child(n+2)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-large-1-2>li:nth-child(n+3)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-large-1-3>li:nth-child(n+4)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-large-1-4>li:nth-child(n+5)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-large-1-5>li:nth-child(n+6)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-large-1-6>li:nth-child(n+7)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-large-1-10>li:nth-child(n+11)>* {
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding-top: 25px;
  }
}

@media (min-width: 1220px) {
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-xlarge-1-1>li:nth-child(n+2)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-xlarge-1-2>li:nth-child(n+3)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-xlarge-1-3>li:nth-child(n+4)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-xlarge-1-4>li:nth-child(n+5)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-xlarge-1-5>li:nth-child(n+6)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-xlarge-1-6>li:nth-child(n+7)>*,
  .uikit-view-grid.uikit-view-grid-divider>.uk-grid-width-xlarge-1-10>li:nth-child(n+11)>* {
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding-top: 25px;
  }
}
