{#
/**
 * @file
 * Theme override to display the navbar region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 * @see uikit_preprocess_region()
 *
 * @ingroup uikit_themeable
 */
#}
{% if content_left %}
  <div class="uk-navbar-left">
    {{ content_left }}
  </div>
{% endif %}

{% if content_center %}
  <div class="uk-navbar-center">
    {{ content_center }}
  </div>
{% endif %}

{% if content_right %}
  <div class="uk-navbar-right">
    {{ content_right }}
  </div>
{% endif %}
